<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.marckrenn.bruttonetto</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>8CB4A2D4-ED61-4E2F-8977-B9387E0D0C34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C252D17D-BA49-4A18-8163-8F3B50C6A296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C75DEF46-6E32-4720-90F9-C50A3F0023A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2DBE098-C91A-4586-927C-E072DD339802</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C252D17D-BA49-4A18-8163-8F3B50C6A296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C75DEF46-6E32-4720-90F9-C50A3F0023A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marc Krenn</string>
	<key>description</key>
	<string>Brutto-Netto-Rechner für Österreich / Gross-Net-Calculator for Austria</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Brutto-Netto-Rechner Österreich</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied to clipboard</string>
				<key>title</key>
				<string>{var:formatted}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C252D17D-BA49-4A18-8163-8F3B50C6A296</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>netto</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Berechne …</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1" "nettobrutto" iconv -f utf8 -t ascii</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Standard: Monat</string>
				<key>title</key>
				<string>Nettogehalt eingeben</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8CB4A2D4-ED61-4E2F-8977-B9387E0D0C34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>brutto</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Berechne …</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1" "bruttonetto" iconv -f utf8 -t ascii</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Standard: Monat</string>
				<key>title</key>
				<string>Bruttogehalt eingeben</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2DBE098-C91A-4586-927C-E072DD339802</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:raw}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C75DEF46-6E32-4720-90F9-C50A3F0023A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Brutto-Netto-Rechner für Österreich / Gross-Net-Calculator for Austria</string>
	<key>uidata</key>
	<dict>
		<key>8CB4A2D4-ED61-4E2F-8977-B9387E0D0C34</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>netto [betrag] [optional: jahr, jährlich, pa, p.a.]

⇧ halten um …

… bei selektierten Brutto-Betrag zwischen monatliche und jährliche Umrechnung zu wechseln.

… bei selektierten Urlaubsgeld auf die Weihnachtsremuneration zu wechseln.</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>B2DBE098-C91A-4586-927C-E072DD339802</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>brutto [betrag] [optional: jahr, jährlich, pa, p.a.]

⇧ halten um …

… bei selektierten Netto-Betrag zwischen monatliche und jährliche Umrechnung zu wechseln.

… bei selektierten Urlaubsgeld auf die Weihnachtsremuneration zu wechseln.</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>C252D17D-BA49-4A18-8163-8F3B50C6A296</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C75DEF46-6E32-4720-90F9-C50A3F0023A3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>bn_avab</key>
		<string>false</string>
		<key>bn_bundesland</key>
		<string>wien</string>
		<key>bn_freibetrag</key>
		<string>0</string>
		<key>bn_jahr</key>
		<string>201807</string>
		<key>bn_mvk</key>
		<string>false</string>
		<key>bn_pendler</key>
		<string>0</string>
		<key>bn_pendlereuro</key>
		<string>3</string>
		<key>bn_pendlergross</key>
		<string>false</string>
		<key>bn_pendlerkm</key>
		<string>0</string>
		<key>bn_sachbezug</key>
		<string>0</string>
		<key>bn_svsymbol</key>
		<string>0</string>
		<key>fb_kif</key>
		<string>false</string>
		<key>fb_kinderOver18</key>
		<string>0</string>
		<key>fb_kinderUnder18</key>
		<string>0</string>
		<key>fb_teilung</key>
		<string>false</string>
	</dict>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
